{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "header": {
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '#0'
    },
    "title": "Prototype example",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "linkClasses": 'js-previous' if prevPage else '',
                "url": pageInfo.rootPath + "/" + prevPage + '.html',
                "text": 'Previous'
            }
        ]
    }
} %}

{% block head %}
    <link rel="stylesheet" href="/prototypes/example/styles.css" />
{% endblock %}

{% block preMain %}
{% endblock %}

{% block main %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/example/index.js"></script>
{% endblock %}
